*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

ion-header{
    --ion-background-color: rgb(130, 130, 130);
}

ion-title{
    color: white;
    font-weight: 700;
}

ion-content{
    --ion-background-color: teal;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.5);
}

ion-label{
    font-size: large;
    margin-top: 30px;
    margin-bottom: 20px;
    color: aliceblue;
}

ion-input{
    width:80%;
    max-height: 35px;
    text-indent: 5.5px;
}


.emailInput{
    border-radius: 4px;
    background-color: white;
}

.passwordInput{
    background-color: white;
    border-radius: 4px;
    margin-top: 20px;
}

.btnLogin{
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

ion-button{
    --ion-color-primary: rgb(255, 153, 0);
    font-weight: 500;
    text-transform: none;
    margin-top: 30px;
    margin-bottom: 30px;
}